# Logs
/resources/logs
/resources/*.log
/resources/npm-debug.log*
/resources/yarn-debug.log*
/resources/yarn-error.log*
/resources/pnpm-debug.log*
/resources/lerna-debug.log*

/resources/node_modules
/resources/.DS_Store
/resources/dist
/resources/dist-ssr
/resources/coverage
/resources/*.local

/resources/cypress/videos/
/resources/cypress/screenshots/

# Editor directories and files
/resources/.vscode/*
/resources/!.vscode/extensions.json
/resources/.idea
/resources/*.suo
/resources/*.ntvs*
/resources/*.njsproj
/resources/*.sln
/resources/*.sw?

/resources/*.tsbuildinfo
/vendor